{% style %}
    .banner-image-custom-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .banner-image-custom-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style>
  .banner-image-turbo {

    .desktop,
    .mobile {
      display: none;
    }

    @media (min-width:1000px) {
      .desktop {
        display:block !important;
      }
    }
    @media (max-width:999px) {
      .mobile {
        display:block !important;
      }
    }

    .title-banner {
      margin-bottom: 7rem;
      * {
          text-align: center;
          color: {{ section.settings.color_title }};
          font-size: 32px;
          line-height: 1.5;
          margin: 0;

          strong {
              font-weight:600;
          }
      }
  }


  .wrapper-image {
      position:relative;

      img  {
          max-width:901px;
          height:auto;
          object-fit:contain;
          margin-right: auto;
      }

      .wrapper-text {
          background: {{ section.settings.bg_wrapper_content }};
          border-radius:48px;
          box-shadow: 0px 4px 24px 0px #00000040;
          position:absolute;
          right:0;

          max-width: 560px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          padding: 5rem 3rem;

          * {
              color: {{ section.settings.color_content }};
              margin: 0;
              line-height: 1.5;
          }

          .title-text {
            padding-bottom: 1.5rem;

            * {
               font-size: 28px;
               letter-spacing: 0.28px;
               font-weight: 500;
               text-transform: uppercase;
               line-height: 1.1;
           }
          }

          .content-text {
            * {
                opacity: .64;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5;
            }
          }
          .check-button {
            margin-top: 3rem;
            a {
                text-decoration: none;
                font-size:16px;
                font-weight:500;
                background-color: {{ section.settings.btn_bg}};
                color: {{ section.settings.btn_text_color }};
                border-radius:32px;
                height:59px;
                width:100%;
                max-width:232px;
                display:flex;
                justify-content:center;
                align-items:center;

                &:hover {
                  background-color: #061433;
                  color:#fff;
                }
            }
          }
      }
  }
  }
</style>

<div
  class="banner-image-turbo banner-image-custom-{{ section.id }} banner-image-custom-{{ section.id }}-padding desktop"
>
  <div class="page-width">
    <div class="title-banner">
      {{ section.settings.title }}
    </div>
    <div class="wrapper-image">
      <div class="desktop">
        {% if section.settings.img != blank %}
          {{
            section.settings.img
            | image_url: width: section.settings.img.width, height: section.settings.img.height
            | image_tag
          }}
        {% endif %}
      </div>
      <div class="mobile">
        {% if section.settings.img_mobile != blank %}
          {{
            section.settings.img_mobile
            | image_url: width: section.settings.img_mobile.width, height: section.settings.img_mobile.height
            | image_tag
          }}
        {% endif %}
      </div>

      <div class="wrapper-text">
        <div class="title-text">
          {{ section.settings.title_text }}
        </div>
        <div class="content-text">
          {{ section.settings.content_text }}
        </div>
        <div class="check-button">
          <a href="{{ section.settings.link_btn }}">
            {{ section.settings.btn_label }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner Texto flutuante",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_background",
      "id": "bg_wrapper_content",
      "label": "Cor do background da Box",
      "default": "linear-gradient(50% 50% at 50% 50%, #111C30 0%, #013356 100%)"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Imagem desktop"
    },
    {
      "type": "image_picker",
      "id": "img_mobile",
      "label": "Imagem mobile"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Titulo sessão",
      "default": "<h2>Você sabia que fumantes podem ter<br/><strong>deficiências de vitaminas e minerais</strong>?</h2>"
    },
    {
      "type": "color",
      "id": "color_title",
      "default": "#1E2239",
      "label": "Cor do titulo da sessão"
    },

    {
      "type": "header",
      "content": "Box de conteudo"
    },
    {
      "type": "richtext",
      "id": "title_text",
      "label": "Titulo Box",
      "default": "<h4>O que a ciência nos mostra sobre essa conexão</h4>"
    },
    {
      "type": "richtext",
      "id": "content_text",
      "label": "Titulo Box",
      "default": "<p>Estudos indicam que pessoas que fumam podem ter necessidades nutricionais diferentes.<br/>O cigarro pode influenciar como o corpo absorve e utiliza vitaminas e minerais essenciais.</p>"
    },
    {
      "type": "color",
      "id": "color_content",
      "default": "#fff",
      "label": "Cor do conteudo texto"
    },
    {
      "type": "text",
      "id": "btn_label",
      "default": "Conferir produtos",
      "label": "Label do botão"
    },
    {
      "type": "url",
      "id": "link_btn",
      "label": "Link do botão"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "default": "#fff",
      "label": "Background botão"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Cor label botão",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Imagem com texto flutuante"
    }
  ]
}
{% endschema %}
