{% style %}
    .ciencia-diz-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.55 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .ciencia-diz-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style>
  .ciencia-diz-{{ section.id }} {

  .mobile,
    .desk {
      display: none;
    }

    @media (min-width:769px) {
      .desk {
        display: block !important;
      }
    }
    @media (max-width:768px) {
      .mobile {
        display: block !important;
      }
    }
    .wrapper * {
      margin:0;
    }
    .tag {
      background-color:#013F56;
      margin-bottom: 1rem;
      width: fit-content;
      padding-inline: 1rem;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 32px;
      p {
        font-size: 12px;
        font-weight: 500;
        color:#fff;
      }
    }
    .title-sec {
      padding-bottom: 1rem;
      h3 {
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
        color: #1E2239;
        line-height: 1.1;
      }
    }
    .content {
      * {
        color:#1E2239A3;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
      }
    }
    .fontes {
      margin-top: 4rem;

    }
    details {
        background-color: #F2F2F2;
        border-radius: 8px;
        padding: 1rem;
        summary {
                display: flex;
                justify-content: space-between;
                align-items:center;

                p {
                    margin: 0;
                }
        }
        .fontes-wrapper {
            overflow-y: auto;
            max-height: 27rem;
        }

        &[open] svg {
            transform: rotate(180deg);
        }
    }
    .wrapper {
      display: flex;
      align-items: flex-start;
      gap:10rem;
      justify-content: space-between;

      @media (max-width:1000px) {
        flex-direction: column;
        gap:1.5rem;
      }

      &.has_img {
        flex-direction: row-reverse;
        align-items: center;
        .right-content {
          display:none;
        }
      }
    }
    .left-content,
    .image-container {
      flex:1;
    }

    .right-content {
      flex:1;


      ul.list-main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 0;
        li.li-main {
          border: 2px solid #013F56;
          padding: 1.3rem 1.5rem;
          border-radius: 24px;
        }
      }
      .title-list {
        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #013F56;
        margin-bottom: .35rem;
      }
    .subtitle-list {
      * {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        color:#1E2239A3;
      }
    }
    }
  }
</style>
{% assign main = section.settings %}
<div class="ciencia-diz-{{ section.id }} ciencia-diz-{{ section.id }}-padding ">
  <div class="page-width">
    <div class="wrapper {% if main.img != blank %}has_img{% endif %}">
      <div class="left-content">
        {% if main.tag != blank %}
          <div class="tag">
            <p>{{ main.tag }}</p>
          </div>
        {% endif %}
        <div class="title-sec">
          <h3>{{ main.title }}</h3>
        </div>
        <div class="content">
          {{ main.content }}
        </div>
        {% if main.fontes != blank %}
          <div class="fontes">
            <details>
              <summary>
                <p>FONTES</p>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div class="fontes-wrapper">
                {{ main.fontes }}
              </div>
            </details>
          </div>
        {% endif %}
      </div>
      <div class="right-content">
        <ul class="list-main">
          {% for item in section.blocks %}
            {% if item.type == 'lista' %}
              <li class="li-main">
                <p class="title-list">{{ item.settings.title }}</p>
                <p class="subtitle-list">{{ item.settings.subtitle }}</p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if main.img != blank %}
        <div class="image-container">
          <div class="desk">
            {{ main.img | image_url: width: 640, height: 660 | image_tag }}
          </div>

          {% if main.img_mobile != blank %}
            <div class="mobile">
              {{ main.img_mobile | image_url: width: 356, height: 300 | image_tag }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ciencia linha",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Imagem esquerda"
    },
    {
      "type": "image_picker",
      "id": "img_mobile",
      "label": "Imagem esquerda mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "titulo esquerda"
    },
    {
      "type": "text",
      "id": "tag",
      "label": "tag esquerda"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Conteúdo"
    },
    {
      "type": "richtext",
      "id": "fontes",
      "label": "Fontes"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "lista",
      "name": "Lista ciencia diz",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "titulo card lista"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "subtitulo card lista"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ciencia linha"
    }
  ]
}
{% endschema %}
