{% style %}
    .nutritional-table-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .nutritional-table-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<style>
  .nutritional-table-{{ section.id }}{
    tr,
    td,
    table,
    tbody,
    th,
    thead {
      border: none !important;
      box-shadow: none !important;
    }
    table tbody {
      span {
        font-size: 16px;
        font-weight: 500;
        color: #1d234c;
      }
      td:nth-child(1) {
        text-align: start;
      }
      tr:nth-child(1) {
        span {
        }
        td:nth-child(1) {
          span {
            font-size: 18px;
            font-weight: 600;
          }
        }
        td:nth-child(2) {
          span {
            font-weight: 300;
            font-size: 18px;

            strong {
              font-weight: 600;
            }
          }
        }
        td:nth-child(3) {
          span {
            font-size: 14px;
            font-weight: 600;
          }
        }
        strong {
          background-image: linear-gradient(
            270deg,
            #f8c24d 0%,
            #f51a51 20.5%,
            #9d36ac 45%,
            #573bd9 65%,
            #2396b5 82.25%,
            #62cebf 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }

      tr:nth-child(2n) {
        background-color: #f2f2f2;

        td:nth-child(2) {
          background-color: #48c25e;
          span {
            color: #fff;
          }
        }
        td:nth-child(3) {
          background-color: #de6254;
          span {
            color: #fff;
          }
        }
      }
    }
    .wrapper {
        display:flex;
        align-items:flex-start;
        justify-content: space-between;
        gap:4rem;
    }
  }
</style>

<div
  class="nutritional-table-{{ section.id }} nutritional-table-{{ section.id }}-padding"
>
  <div class="page-width">
    <div class="wrapper">
      <div class="left">
        {% if product.metafields.custom.imagem_do_produto_tabela_nutricao != blank %}
          {{
            product.metafields.custom.imagem_do_produto_tabela_nutricao
            | image_url:
              width: product.metafields.custom.imagem_do_produto_tabela_nutricao.width,
              height: product.metafields.custom.imagem_do_produto_tabela_nutricao.height
            | image_tag
          }}
        {% endif %}
      </div>
      <div class="right table-nutri-content">
        {{ section.settings.page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tabela nutricional",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Tabela nutricional"
    }
  ]
}
{% endschema %}
