{% style %}
    .depoimentos-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .depoimentos-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style>
  .depoimentos-{{ section.id }} {
      background: {{ section.settings.bg_sec }};

      .title-section {
          margin-bottom: 2rem;
          * {
              font-size: 24px;
              font-weight: 500;
              letter-spacing: 0.48px;
              text-transform:uppercase;
              color: {{ section.settings.color_title }};
              margin: 0;
              line-height: 1;

              @media (max-width:547px) {
                text-align: center;
              }
          }
      }
      .wrapper-cards-depoimentos {
        padding-left: 35px;
        @media (max-width:1000px) {
          padding-left:15px;
        }
        ul {
          padding-left: 0;
        }
    
          li {
              padding: 2.5rem 2rem;
              position:relative;
              max-width: 35vw;

  

              @media (max-width:547px) {
                max-width:65vw;
              }
              
              &:nth-child(1) {
                @media (min-width:1400px) {
                  margin-left: calc(47vw - 670px);                
                }
              } 

              &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 32px;
                padding: 2px;
                background: linear-gradient(270deg, #F8C24D 0%, #F51A51 20.5%, #9D36AC 45%, #573BD9 65%, #2396B5 82.25%, #62CEBF 100%);
                -webkit-mask: 
                  linear-gradient(#fff 0 0) content-box, 
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
                pointer-events: none;
              }

              .image-wrapper {
                  display: flex;
                  align-items: center;
                  gap:.85rem;

                  .name-card {
                      * {
                          font-size: 18px;
                          font-weight:600;
                          line-height: 1.5;
                          color: {{ section.settings.color_title}};
                      }
                  }
              }
              .resume-card {
                * {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 1.5;
                  color:{{ section.settings.text_color }};
                }
              }

          }
      }

  }
</style>
<div
  class="depoimentos-{{ section.id }} depoimentos-{{ section.id }}-padding"
>
  <div class="title-section page-width">
    {{ section.settings.title }}
  </div>

  <div class="wrapper-cards-depoimentos">
    <div class="swiper">
      <ul class="swiper-wrapper">
        {% for item in section.blocks %}
          {% if item.type == 'depoimento' %}
            <li class="swiper-slide card-depoimento">
              <div class="wrapper-content">
                <div class="image-wrapper">
                  {% if item.settings.img != blank %}
                    {{ item.settings.img | image_url: width: item.settings.img.width, height:item.settings.img.height  | image_tag }}
                  {% endif %}
                  <div class="name-card">
                    {{ item.settings.name }}
                  </div>
                </div>
                <div class="resume-card">
                  {{ item.settings.resume }}
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  new Swiper('.wrapper-cards-depoimentos .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 16,
    breakpoints: {
        700: {
            spaceBetween: 32,
        },
      },
  });
</script>
{% schema %}
{
  "name": "Depoimentos",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "settings": [
    {
      "type": "color_background",
      "id": "bg_sec",
      "default": "linear-gradient(90deg, #111C30 0%, #013356 100%)",
      "label": "Cor background da seção"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Titulo sessão",
      "default": "<h2>Depoimentos</h2>"
    },
    {
      "type": "color",
      "id": "color_title",
      "default": "#fff",
      "label": "Cor do titulo da sessão"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#fff",
      "label": "Cor dos textos"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "depoimento",
      "name": "Card depoimento",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Imagem usuario"
        },
        {
          "type": "richtext",
          "id": "name",
          "label": "Nome do usuario"
        },
        {
          "type": "richtext",
          "id": "resume",
          "label": "Depoimento"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Depoimentos"
    }
  ]
}
{% endschema %}
