{% style %}
    .ativo-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .ativo-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style>
  .ativo-{{ section.id }} {
    .wrapper-cards {
        * {
          margin:0;
          line-height: 1;
      }
    }


      ul {
        padding:0;

        li {
            max-width:280px;

            &:nth-child(1) {
                margin-left: calc(-670px + 47vw);
            }
        }
      }
      .title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.5rem;

        @media (max-width:547px) {
            .swipper-custom-buttons {
                display:none;
            }
        }
          *{
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.48px;
            color: {{ section.settings.color_title }};
            margin: 0;

            @media (max-width:547px) {
                font-size: 22px;
                text-align: center;
            }
          }
      }

      .card-ativo {
        .image-wrapper {
            img {
                border-radius:32px;
                height: auto;
            }
        }
        .title-card {
            margin-top: 1rem;
            margin-bottom: 1rem;
                * {
                    font-size: 16px;
                    line-height: 1.3;
                    color: {{ section.settings.text_color_title_card }};
                    font-weight: 500;
                }
             }
        .subtitle-card * {
            font-size: 14px;
            line-height: 1.3;
            color: {{ section.settings.text_color }};
        }
      }
  }
</style>

{% assign meta = product.metafields.custom %}

<div
  class="ativo-{{ section.id }} ativo-{{ section.id }}-padding"
>
  <div class="wrapper-ativo-content">
    <div class="title-section">
      {{ section.settings.title }}
    </div>
    <div class="wrapper-cards">
      <div class="swiper">
        <ul class="swiper-wrapper">
          {% comment %} {% for item in meta.imagem_ativos %}
            {% if item.type == 'ativo' %} {% endcomment %}
              <li class="swiper-slide card-ativo">
                <div class="image-wrapper">
                    {% assign dsadsadsa =  meta.titulo_card_ativos.value | split: ',' %}
                    {% for item in dsadsadsa %}
                       ue {{ item }}
                    {% endfor %}
           
                    {% comment %} titulo_card_ativos
                    conteudo_card_ativos
                    imagem_ativos {% endcomment %}
                  {% comment %} {% if meta. != blank %}
                    {{ meta. | image_url: width: 304, height: 300 | image_tag }}
                  {% endif %} {% endcomment %}
                </div>
                {% comment %} <div class="title-card">
                  {{ item.settings.title }}
                </div>
                <div class="subtitle-card">
                  {{ item.settings.subtitle }}
                </div> {% endcomment %}
              </li>
            {% comment %} {% endif %}
          {% endfor %} {% endcomment %}
        </ul>
      </div>
    </div>

    <div class="fontes-sec">
      <p>FONTE</p>
      <div class="content-fontes">
        {{ section.settings.fontes }}
      </div>
    </div>
  </div>
</div>

<script>
  new Swiper('.ativo-{{ section.id }}  .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 16,
    breakpoints: {
      700: {
        spaceBetween: 32,
      },
    },
  });
</script>

{% schema %}
{
  "name": "Ativos fazem diferença",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Titulo sessão",
      "default": "<h2>Ativos que fazem a diferença</h2>"
    },
    {
      "type": "richtext",
      "id": "fontes",
      "label": "Conteúdo da Fonte sessão",
      "default": "<p>BRASIL. Agência Nacional de Vigilância Sanitária (ANVISA). Instrução Normativa nº 28, de 26 de julho de 2018. Estabelece as listas de constituintes, limites de uso, alegações e rotulagem complementar dos suplementos alimentares. Disponível em: https://antigo.anvisa.gov.br/documents/10181/3898888/%284%29in_28_2018_comp.pdf/14109256-0ed8-4f38-91ac-60b3cb78fd8e.</p>"
    },
    {
      "type": "color",
      "id": "color_title",
      "default": "#111C30",
      "label": "Cor do titulo da sessão"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#434752",
      "label": "Cor dos textos"
    },
    {
      "type": "color",
      "id": "text_color_title_card",
      "default": "#1E2239",
      "label": "Cor titulo card"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "ativo",
      "name": "Card ativos",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Imagem ativos"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Titulo ativos"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitulo ativos"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ativos fazem diferença"
    }
  ]
}
{% endschema %}
