<style>
  .card-products-btg {
    padding: 1rem;
    box-shadow: 0px 4px 16px 0px #00000029;
    border-radius: 16px;

    *:not(img) {
    text-align:center;
    margin:0;
    }

    .title-shelf {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      color: #434752;
    }

    .list-price-shelf {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;
      color: #585858;
      text-decoration: line-through;
    }
    .best-price-shelf {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      color: #434752;
    }
    .installments {
      font-weight: 300;
      font-size: 12px;
      line-height: 1.2;
    }
  }
</style>

<div id="experimente-tambem" class="page-width">
  <div
    class="product-recommendations relative "
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=5&intent=related"
  >
    {%- if recommendations.performed? and recommendations.products_count > 0 -%}
      {% if recommendations.intent == 'related' %}
        <div class="title-sec">
          {{ section.settings.title_sec }}
        </div>
      {% endif %}
      <div class="swiper">
        <ul class="swiper-wrapper collection-showcase summary">
          {%- for product in recommendations.products -%}
            <li class="swiper-slide card-products-btg">
              {% render 'shelf-product', product: product %}
            </li>
          {%- endfor -%}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-prev-custom">
      <div class="">
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </div>
    </div>
    <div class="swiper-button-next-custom ">
      <div class="">
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </div>
    </div>
      {% comment %} <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 flex w-full justify-between z-[1] sm:hidden"> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    handleProductRecomendations();
  });
  function handleProductRecomendations() {
    const productRecommendationsSection = document.querySelector('#experimente-tambem .product-recommendations');

    const url = productRecommendationsSection.dataset.url;

    try {
      fetch(url)
        .then((response) => response.text())
        .then((text) => {
          const html = document.createElement('div');
          html.innerHTML = text;
          const recommendations = html.querySelector('#experimente-tambem .product-recommendations');

          if (recommendations && recommendations.innerHTML.trim().length) {
            productRecommendationsSection.innerHTML = recommendations.innerHTML;
            swiperProductRecomendations();
          }
        });
    } catch (error) {
      console.error(error);
    }
  }
  const swiperProductRecomendations = () => {
      new Swiper('#experimente-tambem .swiper', {
        loop: true,
        slidesPerView: 2,
        spaceBetween: 16,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '#experimente-tambem .swiper-button-next-custom',
          prevEl: '#experimente-tambem .swiper-button-prev-custom',
        },
        breakpoints: {
          768: {
            slidesPerView: 3,
            spaceBetween: 22,
          },
        },
      });
    };
</script>

{% schema %}
{
  "name": "Produtos recomendados",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "title_sec",
      "label": "Titulo da seção",
      "default": "<h2>Experimente também</h2>"
    },
    {
      "type": "color",
      "id": "color_title",
      "default": "#111C30",
      "label": "Cor do titulo da sessão"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Produtos recomendados turbo"
    }
  ]
}
{% endschema %}
