{% style %}
    .benefit-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .benefit-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style>
    .benefit-{{ section.id }} {
      .swipper-custom-buttons {
          display:flex;
          gap:2rem;
          .swiper-button-prev,
          .swiper-button-next {
              position:initial;
              margin: 0;
              height: fit-content;

              &::after {
                  font-size: 20px;
                  font-weight: bold;
                  color: #111C30;
                  -webkit-text-stroke: 1px;
              }
          }
      }
      .wrapper-cards {
          * {
            margin:0;
            line-height: 1;
        }
      }
        ul {
          padding:0;

          li {
              max-width:304px;
          }
        }
        .title-section {
          display: flex;
          justify-content: space-between;
            align-items: center;
            *{
              font-size: 24px;
              font-weight: 500;
              text-transform: uppercase;
              letter-spacing: 0.48px;
              color: {{ section.settings.color_title }}
              margin: 0;
            }
        }

        .card-benefit {
          .image-wrapper {
              img {
                  border-radius:32px;
                  height: auto;
              }
          }
          .title-card * {
              font-size: 16px;
              line-height: 1.3;
              color: {{ section.settings.text_color_title_card }}
          }
          .subtitle-card * {
              font-size: 14px;
              line-height: 1.3;
              color: {{ section.settings.text_color }}
          }
        }
    }
</style>

<div
  class="benefit-{{ section.id }} benefit-{{ section.id }}-padding"
>
  <div class="page-width">
    <div class="title-section">
      {{ section.settings.title }}

      <div class="swipper-custom-buttons">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="wrapper-cards">
      <div class="swiper">
        <ul class="swiper-wrapper">
          {% for item in section.blocks %}
            {% if item.type == 'benefit' %}
              <li class="swiper-slide card-benefit">
                <div class="image-wrapper">
                  {% if item.settings.img != blank %}
                    {{ item.settings.img | image_url: width: 304, height: 300 | image_tag }}
                  {% endif %}
                </div>
                <div class="title-card">
                  {{ item.settings.title }}
                </div>
                <div class="subtitle-card">
                  {{ item.settings.subtitle }}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  new Swiper('.wrapper-cards .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 32,
    navigation: {
      nextEl: '.swipper-custom-buttons .swiper-button-next',
      prevEl: '.swipper-custom-buttons .swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Beneficios para saúde",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Titulo sessão",
      "default": "<h2>Benefícios essenciais para apoiar a sua saúde</h2>"
    },
    {
      "type": "color",
      "id": "color_title",
      "default": "#1E2239",
      "label": "Cor do titulo da sessão"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#fff",
      "label": "Cor dos textos"
    },
    {
      "type": "color",
      "id": "text_color_title_card",
      "default": "#1E2239",
      "label": "Cor titulo card"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "benefit",
      "name": "Card beneficio",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Imagem beneficio"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Titulo beneficio"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitulo beneficio"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Seção beneficios para saude"
    }
  ]
}
{% endschema %}
